#checkOutContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 65px auto;
    width: 90%;
    max-width: 1200px;
}
#checkOutItem {
    width: 65%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e9ecef;
}
.product img {
    width: 100px;
    height: auto;
}
.product-info {
    width: 50%;
}
.product-info h3 {
    margin: 0 0 10px;
}
.product-info p {
    margin: 3px 0 3px 5px;
}
.quantity-div, .price-div, .rmv-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quantity-div input {
    width: 45%;
    height: 45%;
    border: 1px solid lightgray;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
}
.quantity-div button, .rmv-div button {
    padding: 5px 10px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}
.quantity-div button:hover, .rmv-div button:hover {
    color: black
}
.summary {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 180px; /* Distance from the top */
    align-self: flex-start; /* Align to the start of the container */
}
.summary h2 {
    margin-top: 0;
}
.summary p, a{
    margin: 10px 0;
}
.summary .buy {
    text-align: center;
    margin-top: 20px;
}
.summary .buy button {
    padding: 15px 20px;
    font-size: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.summary .buy button:hover {
    background-color: #218838;
}

@media (max-width: 1000px) {
    #checkOutItem, .summary {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {

    .product {
        flex-direction: column;
        align-items: flex-start;
    }

    .product img {
        width: 150px;
        margin: auto;
    }
    .product-info {
        width: 100%;
        text-align: center;
    }
    .quantity-div, .rmv-div{
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }
    .quantity-div input {
        width: 40%;
    }
    .quantity-div button, .rmv-div button {
        width: 35%;
    }
}

@media (max-width: 500px) {
    .product img {
        width: 100px;
        margin: auto;
    }
    .quantity-div input {
        width: 40%;
    }
    .quantity-div button, .rmv-div button {
        width: 30%;
    }
    .summary .buy button {
        padding: 10px 15px;
        font-size: 13px;
    }
    .quantity-div, .rmv-div{
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }
    .product-info {
        text-align: center;
    }

}
