.footer {
    background-color: #E5E4E2;
    padding: 60px 0;
    width: 100%;
    z-index: 1;
    margin-top: 20px;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-column {
    width: 33%;
    padding: 0 10px;
    box-sizing: border-box;
}

.footer-column h4 {
    font-size: 19px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 600;
}

.footer-column ul li {
    margin-left: 7px;
}

.footer-column ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-column ul li a,
.footer-column ul li p {
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 350;
    transition: all 0.3s ease;
}

.footer-column ul li a:hover,
.footer-column ul li p:hover {
    padding-left: 7px;
    font-weight: 500;
    color: orangered;
}

.footer-column .footer-link-social a {
    height: 40px;
    font-size: 20px;
    display: inline-block;
    width: 40px;
    background-color: grey;
    margin: 3px;
    padding-top: 10px;
    text-align: center;
    border-radius: 20px;
    color: white;
    transition: 0.3s;
}

.footer-column .footer-link-social a:hover {
    color: orangered;
    height: 45px;
    width: 45px;
    border-radius: 25px;
    padding-top: 14px;
}

@media (max-width: 768px) {
    .footer-column {
        width: 50%;
        padding: 10px;
    }

    .footer-column h4 {
        font-size: 18px;
    }

    .footer-column ul li a,
    .footer-column ul li p {
        font-size: 15px;
    }

    .footer-column .footer-link-social a {
        height: 35px;
        width: 35px;
        font-size: 18px;
        padding-top: 8px;
    }

    .footer-column .footer-link-social a:hover {
        height: 40px;
        width: 40px;
        padding-top: 12px;
    }
}

@media (max-width: 580px) {
    .footer-column {
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    .footer-column ul {
        padding-left: 0;
    }

    .footer-column .footer-link-social {
        justify-content: center;
        display: flex;
    }

    .footer-column h4 {
        font-size: 17px;
    }

    .footer-column ul li a,
    .footer-column ul li p {
        font-size: 14px;
    }

    .footer-column .footer-link-social a {
        height: 30px;
        width: 30px;
        font-size: 16px;
        padding-top: 7px;
    }

    .footer-column .footer-link-social a:hover {
        height: 35px;
        width: 35px;
        padding-top: 10px;
    }
}
