@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*header presente in quasi tutte le pagine*/
:root {
    --backgroud-color-header: #fefefe;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:"Inter";
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}


/*sfondo dell'header*/
header {
    height: 130px;
    width: 100%;
    background: var(--backgroud-color-header);
    box-shadow: #36454F 2px 2px 2px 2px;
    margin-bottom: 20px;
    z-index: 1000; /* Assicurati che l'header abbia un alto z-index */
    position: sticky; /* Rendi l'header sticky */
    top: 0; /* Fissalo in cima alla pagina */
}
/*posizionamento dei contenuti dell'header*/
header .header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* valori del logo*/
.header-logo a{
    margin-left: 15px;
    font-size: 60px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: 0.3s;
    white-space: nowrap; /* evita che la scritta vada a capo*/
}

.header-logo a:hover{
    color: orangered;
}

/*forma della barra di ricerca*/
.header-search-bar{
    position: relative;
    margin-top: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 40px;
    padding: 13px 100px;
}
.header-search-bar input[type="search"]{
    width: 400px;
    padding-left: 0;
    border: none;
    outline: none;
    background:transparent;
    font-size: 20px;
    color: black;
}


.header-search-bar img{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    width: 25px;
}

/* Cart */
.header-carrello {
    position: relative;
    display: flex;
    align-items: center;
}


.header-carrello #cart{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 35px;
    background-color: orangered;
    border-color: transparent;
    font-size: 15px;
}
/*
.header-carrello #cart:focus{
    font-size: 16px;
}*/

.header-carrello #cart:hover {
    transition: 0.2s;
    color: black;
    cursor: pointer;
}

#listCart { /*contenitore principale*/
    max-height: 300px; /* Altezza massima */
    overflow-y: auto; /* Scroll verticale */
    padding: 10px;
    width: 230px;
    color: black;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 10px;
    z-index: 1; /*fai comparire sugli altri elementi*/
    position: absolute; /* Posizione assoluta */
    top: 100%; /* Posiziona sotto il pulsante */
    left: -55px;
}


#listCart div { /*eventuali figli*/
    padding: 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

#listCart div:last-child {
    border-bottom: none;
}

.checkOut{
    margin-top: 5px;
    background-color: red;
    width: 80%;
    height: 40px;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
}

.rmvButton{
    margin-top: 5px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.rmvButton:hover {
    transition: 0.2s;
    background-color: white;
    border: black;
}

/* il container dove andra il contenuto del dropdown */
.header-utente{
    position: relative;
    display: inline-block;
    align-items: center;
    margin-right: 100px;
    margin-left: -50px;
}
/* Dropdown Button */
.header-dropbutton {
    background-color: orangered;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 35px;
}
.header-custom_button{
    background-color: orangered;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 35px;
}
.header-dropbutton:hover {
    transition: 0.2s;
    color: black;
}
/* tabella del dropdown (nascosto di default) */
.header-dropdown-content {
    display: none;
    position: absolute;
    border-color: black;
    background-color: white;
    min-width: 170px;
    z-index: 1;
    box-shadow: #36454F 1.5px 1.5px 1.5px 1.5px;
    border-radius: 10px;
}
/* Singoli link all'interno del dropdown */
.header-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.2s;
    text-align: center;
    border-radius: 10px;
}
/* cambia colore quando passi un un link del contenuto */
.header-dropdown-content a:hover {
    background-color: orangered;
}
.header-show {
    display: block;
}

header .header-carrello{
    display: flex;
    align-items: center;
}
.header-carrello a{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 35px;
    background-color: orangered;
    border-color: transparent;
    font-size: 15px;
}
.header-carrello a:hover, .header-custom_button:hover{
    transition: 0.2s;
    color: black;
}

header .header-lista{
    margin-top: -10px;
}
/*gestione della lista*/
header .header-lista ul{
    margin: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .header-lista ul li{
    padding-bottom: 20px;
}
.header-lista ul li button{
    background-color: #fefefe;
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 30px;
    transition: 0.2s;
    margin-left: 70px;
    margin-right: 70px;
    border-color: transparent;
}
.header-lista ul li button:hover{
    background-color: orangered;
    color: black;
}


/* Stile per il burger menu */
.header-burger-menu {
    display: none;
    font-size: 30px;
    color: black;
    cursor: pointer;
    margin-right: 20px;
}
/* Schermi molto piccoli (smartphone piccoli, max-width: 630px) */
@media (max-width: 630px) {
    header {
        height: auto;
        padding: 10px 0;
    }
    .header-logo a {
        font-size: 20px;
        margin-right: 16px;
    }
    .header-search-bar {
        padding: 10px 20px;
        margin: 10px 0;
        width: 100%;
    }
    .header-search-bar input[type="search"] {
        width: 100%;
        font-size: 14px;
    }
    .header-carrello {
        margin: 5px 0;
        padding: 1px;
    }
    .header-carrello #listCart {
        left: -122px;
    }
    .header-utente, .header-custom_button {
        margin: 2px;
        padding: 4px;
    }
    .header-dropbutton {
        padding: 8px;
        font-size: 17px;
    }
    .header-dropdown-content {
        top: 45px;
        right: 8px;
    }
    .header-carrello #cart {
        padding: 5px 10px;
        font-size: 12px;
    }
    .header-lista ul {
        margin: 0;
        padding: 0;
        flex-direction: column;
        display: none; /* Nascondi il menu di default */
    }
    .header-lista ul li {
        text-align: center;
        margin: 10px 0;
    }
    .header-burger-menu {
        display: block; /* Mostra il burger menu */
    }
    .header-burger-menu .header-line {
        border-radius: 10px;
        width: 25px;
        height: 6px;
        background: black;
        margin: 2px 0 0 10px;
    }
    .header-showburger {
        display: flex; /* Mostra il menu quando il burger menu è cliccato */
        flex-direction: column;
    }
    .header-lista {
        display: none;
        opacity: 0;
        position: relative;
    }
    .header-showlista {
        display: block;
        opacity: 1;
    }
}

/* Schermi piccoli (smartphone, 631px - 950px) */
@media (min-width: 631px) and (max-width: 950px) {
    header {
        height: 80px;
    }
    .header-logo a {
        font-size: 30px;
        margin: 10px;
    }
    .header-search-bar {
        padding: 10px 30px;
    }
    .header-search-bar input[type="search"] {
        width: 150px;
        font-size: 14px;
    }
    .header-utente{
        margin-right: 20px;
        margin-left: 0;
    }
    .header-custom_button{
        margin-left: 20px;
        padding: 4px;
    }
    div#myDropdown {
        right: -19px;
    }
    .header-carrello #cart {
        padding: 5px 10px;
        margin: 12px;
    }
    .header-carrello #listCart {
        left: -70px;
    }
    .header-lista {
        background-color: var(--backgroud-color-header);
    }
    .header-lista ul {
        margin: 0;
        padding: 0;
        flex-direction: column;
        display: none; /* Nascondi il menu di default */
    }
    .header-lista ul li {
        text-align: center;
        margin: 10px 0;
    }
    .header-burger-menu {
        display: block; /* Mostra il burger menu */
    }
    .header-burger-menu .header-line {
        border-radius: 10px;
        width: 25px;
        height: 6px;
        background: black;
        margin: 2px 0 0 10px;
    }
    .header-showburger {
        display: flex; /* Mostra il menu quando il burger menu è cliccato */
        flex-direction: column;
    }
    .header-lista {
        display: none;
        opacity: 0;
        position: relative;
    }
    .header-showlista {
        display: block;
        opacity: 1;
        max-height: 40vh;
    }
}

/* Schermi medi (tablet, 951px - 1320px) */
@media (min-width: 951px) and (max-width: 1320px) {
    .header-logo a {
        font-size: 40px;
        margin-left: 10px;
    }
    .header-search-bar {
        padding: 10px 80px;
    }
    .header-search-bar input[type="search"] {
        width: 300px;
        font-size: 18px;
    }
    .header-utente{
        margin-right: 50px;
        margin-left: 0;
    }
    .header-custom_button {
        margin-right: -30px;
        margin-left: 10px;
    }
    div#myDropdown {
        right: -19px;
    }
    .header-carrello #cart {
        padding: 5px 15px;
    }
    .header-lista ul {
        margin: 20px;
        flex-direction: row;
        justify-content: space-around;
    }
    .header-lista ul li a {
        font-size: 14px;
        padding: 5px 15px;
        margin: 5px 0;
    }


}

@media (min-width: 1321px) {
    .header-custom_button {
        margin-left: 97px;
        margin-right: -65px;
    }
}