@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --backgroud-color-header: #fefefe;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:"Inter";
    box-sizing: border-box;
}
body{
    background: white;
}



/*sfondo dell'header*/
header{
    height: 130px;
    width: 100%;
    background: var(--backgroud-color-header);
    box-shadow: #36454F 2px 2px 2px 2px;
    margin-bottom: 2px;
}
/*posizionamento dei contenuti dell'header*/
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}





/* valori del logo*/
.logo a{
    margin-left: 15px;
    font-size: 60px;
    font-weight: bold;
    color: black;
    text-decoration: none;
;
}
/*forma della barra di ricerca*/
.search-bar{
    margin-top: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 40px;
    padding: 13px 100px;
}
.search-bar input[type="search"]{
    width: 400px;
    padding-left: 0;
    border: none;
    outline: none;
    background:transparent;
    font-size: 20px;
    color: black;
}




/* il container dove andra il contenuto del dropdown */
.utente{
    position: relative;
    display: inline-block;
    align-items: center;
    margin-right: 100px;
    margin-left: -50px;
}
/* Dropdown Button */
.dropbutton {
    background-color: orangered;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 35px;
}
.dropbutton:hover {
    transition: 0.2s;
    color: black;
}
/* tabella del dropdown (nascosto di default) */
.dropdown-content {
    display: none;
    position: absolute;
    border-color: black;
    background-color: white;
    min-width: 170px;
    z-index: 1;
    box-shadow: #36454F 1.5px 1.5px 1.5px 1.5px;
    border-radius: 10px;
}
/* Singoli link all'interno del dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.2s;
    text-align: center;
    border-radius: 10px;
}
/* cambia colore quando passi un un link del contenuto */
.dropdown-content a:hover {
    background-color: orangered;
}
.show {
    display: block;
}




header .carrello{
    display: flex;
    align-items: center;
}
.carrello a{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 35px;
    background-color: orangered;
}
.carrello a:hover{
    transition: 0.2s;
    color: black;
}





header .lista{
   margin-top: -10px;
}
/*gestione della lista*/
header .lista ul{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .lista ul li{ padding-bottom: 20px;
}
/* gestione del singolo elemento della lista
.lista ul li a{
    color: black;
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 30px;
    transition: 0.2s;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
}
.lista ul li a:hover{
    color: black;
    background: orangered;
}*/
.lista ul li button{
    background-color: #fefefe;
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 30px;
    transition: 0.2s;
    margin-left: 70px;
    margin-right: 70px;
    border-color: transparent;
}
.lista ul li button:hover{
    color: black;
    background: orangered;
}




/* Stile per il burger menu */
.burger-menu {
    display: none;
    font-size: 30px;
    color: black;
    cursor: pointer;
    margin-right: 20px;
}


.custom_button{
    background-color: #fefefe;
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 30px;
    transition: 0.2s;
    margin-left: 70px;
    margin-right: 70px;
    border-color: transparent;
}

.custom_button:hover{
    color: black;
    background: orangered;
}




/* Media Queries per la responsività */

/* Schermi piccoli (smartphone) */
@media (max-width: 900px) {

    header{
        height: 80px;
    }
    .logo a{
        font-size: 25px;
        margin-left: 10px;
    }

    .search-bar {
        padding: 10px 30px;
    }

    .search-bar input[type="search"] {
        width: 150px;
        font-size: 14px;
    }

    .utente {
        margin-right: 20px;
        margin-left: 0;
    }

    .carrello a {
        padding: 5px 10px;
    }

    .lista{
        background-color: var(--backgroud-color-header);

    }

    .lista ul {
        margin: 0;
        padding: 0;
        flex-direction: column;
        display: none; /* Nascondi il menu di default */
    }

    .lista ul li {
        text-align: center;
        margin: 10px 0;
    }

    .burger-menu {
        display: block; /* Mostra il burger menu */
    }

    .burger-menu .line{
        border-radius: 10px;
        width: 25px;
        height: 6px;
        background: black;
        margin: 2px 0  0  10px;
    }

    .showburger {
        display: flex; /* Mostra il menu quando il burger menu è cliccato */
        flex-direction: column;
    }

    .lista
    {
        display: none;
        opacity: 0;
        position: relative;
    }

    .showlista{
        display: block;
        opacity: 1;
    }
}

/* Schermi medi (tablet) */
@media (min-width: 901px) and (max-width: 1320px) {
    .logo a{
        font-size: 40px;
        margin-left: 10px;
    }

    .search-bar {
        padding: 10px 80px;
    }

    .search-bar input[type="search"] {
        width: 300px;
        font-size: 18px;
    }

    .utente {
        margin-right: 50px;
        margin-left: 0;
    }

    .carrello a {
        padding: 5px 15px;
    }

    .lista ul {
        margin: 20px;
        flex-direction: row;
        justify-content: space-around;
    }

    .lista ul li a {
        font-size: 14px;
        padding: 5px 15px;
        margin: 5px 0;
    }
}