@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:"Inter";
    box-sizing: border-box;
}

.backbutton{
    font-size: 19px;
    color: white;
    background-color: orangered;
    padding: 9px 10px;
    margin-left: 10px;
    position: sticky;
    top: 5px;
    cursor: pointer;
    border-radius: 11px;
    transition: 0.3s;
}
.backbutton:hover{
    color: black;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

th {
    background-color: orangered;
    color: white;
    position: sticky;
    top: 65px;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: orangered;
    color: white;
}
th a{
    text-decoration: none;
    color: white;
}

.center {
    text-align: center;
}

.button, .add-button {
    padding: 5px 10px;
    margin-bottom: 1px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.button:hover, .add-button:hover {
    color: black;
}

.divForm {
    margin: 0 auto 30px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgb(128, 128, 128);
    border-radius: 10px;
    width: 70%;
}

/* Stile del form */
.formUpdate {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.formUpdate label {
    margin-bottom: -10px;
    font-weight: bold;
}
/* Stile degli input */
.formUpdate input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Stile del pulsante */
.formUpdate button {
    padding: 10px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Stile del pulsante al passaggio del mouse */
.formUpdate button:hover {
    color: black;
}

/* Centro il div contenente la tabella */
.tableContainer {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}
.nav-list-tables {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}

.nav-list-tables a {
    text-decoration: none;
    font-weight: 450;
    font-size: 20px;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.nav-list-tables a:hover {
    background-color: orangered;
}


/* Scrollable description if the content is too long */
.description-scroll {
    max-width: 200px;
    max-height: 75px;
    overflow: auto;
}
.description-scroll a{
    text-decoration: none;

}



@media (max-width: 768px) {
    .nav-list-tables a {
        margin: 3px;
        padding: 8px 10px;
        font-size: 10px;
    }
    .tableDB th, .tableDB td {
        padding: 6px 8px;
        font-size: 12px;
    }
    .add-button, .button {
        font-size: 12px;
        padding: 6px 10px;
    }
}
@media (max-width: 515px) {
    .nav-list-tables a {
        margin: 2px;
        padding: 6px 8px;
        font-size: 8px;
    }
    .tableDB th, .tableDB td {
        padding: 4px 6px;
        font-size: 10px;
    }
    .add-button, .button {
        font-size: 10px;
        padding: 4px 6px;
    }
}
